.body-wrapper {
	max-width: 992px;
	margin-left: auto;
	margin-right: auto;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

.navbar-brand {
	padding: 0;
	font-size: 1.8em;
	margin-left: 5px;
}

.titleShopText {
	font-size: 1.5em;
	margin-top: 5px;
	margin-left: 5px;
	vertical-align: middle;
	color: #000000;
}

#header a, #globalNavigation a {
	text-decoration: none;
}

#headerCartOverview {
	margin: 0;
	padding: 10px 15px;
}

.shopLogo, .shopLogoMobile {
	width: 50px;
	margin-left: 5px;
}

.ProductTotalFont{
	color: black;
	font-size: 14px;
}

.TableBorderBottom{
	width: 100%;
	border-bottom: 2px solid #e7e7e7;
}

.margin-product{
	margin-left: 30px;
	margin-right: 30px;	
}

.margin_right10 {
	margin-right: 10px;
}

.margin_left50{
	margin-left: 50px; 
}

.margin_left5 {
	margin-left: 5px;
}

.margin_top20 {
	margin-top: 20px;
}

.margin_bot30{
	margin-bottom: 30px;
}

.margin_top7 {
	margin-top: 7px;
}

.UnitPriceCol{
	min-width: 80px;
}

.quantityCount{
	min-width: 1px;
}

.TotalUnitPriceCol{
	min-width: 1px;
}

.checkoutTable{
	min-height: 210px;
}

.font-bold {
	font-weight: bold;
}

#dropdown {
	padding: 5px 0 0 0;
}
.navbar-default
{
	border:0 !important;
}
.navbar
{
	margin-bottom: 0 !important;
}

.cart-content{
	width: 100%;
	padding: 0.25rem 1.5rem;
	font-weight: 400;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}

#cartOverviewTable thead th, #checkoutOverviewTable thead th {
	color: black;
	font-size: 14px;
	margin-left: 10px;
}

#cartOverviewTable>tbody>tr>td, #checkoutOverviewTable>tbody>tr>td {
	padding-top: 20px;
	padding-bottom: 20px;

}

#cartOverviewTable tbody tr, #checkoutOverviewTable tbody tr {
	
}

#cartOverviewTable ul, #checkoutOverviewTable ul {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 0;
}

#cartSummaryList li, #checkoutSummaryList li {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
}

.textcolorlightgrey {
	color: rgb(185, 185, 185);
}

.textcolordarkgrey {
	color: rgb(75, 75, 75);
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.rainbow-text {
	background-image: linear-gradient(to left, violet, indigo, blue, green, rgb(248, 225, 18), orange, red);   -webkit-background-clip: text;
	color: transparent;
  }

.bgLightGrey {
	background-color: #e7e7e7;
}

.bgLightGrey2 {
	background-color: #F8F8F8;
}

.breadcrumb {
	margin-bottom: 10px;
	padding: 8px 15px 8px 15px;
}

.navbar-form {
	padding: 0;
	border: 0;
}

.headerCartProductCount {
	padding: 3px;
	background-color: rgb(226, 226, 226);
	border-radius: 20%;
}

.navbar-text {
	margin: 15px 0 15px 0;
}

ul.nav li.dropdown ul.dropdown-menu {
	margin-top: 0px
}

ul.nav li.dropdown:hover ul.dropdown-menu {
	display: block;
}

.thumbnail {
	border: 0;
}

.pagination {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	list-style-type: none;
	font-size: 105%;
	text-align: center;
	color: rgb(0, 0, 0);
  	background-color: rgb(235, 235, 235);
	max-height: 31px;
	max-width: 330px;
}

.pOverviewDescription{
	min-height: 45px;
}

.pOverviewCard{
	min-height: 390px;
	max-height: 450px;
}

.UnitPriceCol{
	min-width: 80px;
}

.pName{
	min-height: 60px;
}

.pInfo {
	margin-left: auto;
	min-width: 180px;
	min-height: 110px;
}

#headerCheckout .headerCheckoutLogoText {
	font-size: 1.8em;
}

#headerCheckout a {
	text-decoration: none;
}

#headerCheckout img {
	width: 55px;
	margin-left: 5px;
}

.header-menu-item {
	margin-right: 3px;
	margin-left: 3px;
	margin-top: 7px;
}

.header-menu-search {
	margin-right: 5px;
	margin-top: 13px;
}

.header-categories-mobile{
	margin-top: 15px;
}

#userMenu {
	width: 220px;
	padding: 10px 20px;
}

.userMenuContent {
	padding: 5px 0;
}

.userMenuHeader {
	margin: 10px 0;
}

#userMenuMobile {
	width: 220px;
	padding: 10px 20px;
}

.userMenuMobileContent {
	padding: 5px 0;
}

.userMenuMobileHeader {
	margin: 10px 0;
}

.bottom-gap{
	margin-bottom: 2em;
}

.carousel a {
	color: #ffffff;
	text-decoration: none;
}

#btnCarouselPrev{
	margin-left: 15px;
}

#btnCarouselNext{
	margin-right: 15px;
}

#productList .thumbnail {
	padding-top: 0;
}

.productDescription{
	min-height: 1px;
}

.productName {
	font-weight: bold;
}

#btnCartOverviewForm {
	padding-right: 0;
}

#errorMessage, #successMessage {
	display: none;
}
#categoryMenu li > div, #categoryMenuMobile li > div{
	position: relative;
    display: block;
    padding: 10px 15px;
    color: rgb(75, 75, 75);
    text-decoration: none;
}
#categoryMenu li > div > a, #categoryMenuMobile li > div > a{
    color: inherit;
    text-decoration: inherit;
}
@media (min-width: 768px) {
	#categoryMenu li > div{
	    padding-top: 15px;
	    padding-bottom: 15px;
	}
}

.CC_License{
	width: 60px;
	height: 25px;
}


.CC-link{
	min-width: 1px;
}
.MIT_License{
	width: 60px;
	height: 25px;
}

.MIT-Popup{
	min-width: 1px;
}

.caret-container {
	display: inline-block;
	width: 20px;
	height: 20px;
}
	.caret-container .caret{
		margin-left: 5px;
	}

.header-container {
	display: block;
	width: 100%;
	padding: 0px;
	margin: 20px 0;
	line-height: inherit;
	color: #333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}
.fa-user.not-logged{
	color: rgb(185, 185, 185);
}

.UpdatePrice{
	min-width: 1px;
}

.quantity-size{
	min-width: 87px;
}

.address{
	margin-bottom: 20px;
}
header {
	background-color: #f8f8f8;
	border-bottom: 1px solid #d3d7cf;
	margin-bottom: 20px;
	width: 100%;
}
footer {
	border-top: 1px solid #d3d7cf;
	margin-top: 20px;
	padding: 20px;
	position: absolute;
	width: 100%;
}

/* Popup container */
.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
	visibility: hidden;
	width: 1300%;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: -460%;
	right: auto;
	margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
  }
  
  @keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
  }

.white{
	color: white;
}
