<#import "../layout/defaultLayoutWebShop.ftl.html" as layout>
<@layout.myLayout "The ultimate webshop">
<div>
    <div id="titleDelAddr" class="header-container">
        <h2>${i18n("shippingAddressTitleEnter")}</h2>
    </div>

    <!-- enter address -->
    <form id="formAddDelAddr" class="form-row"
          action="${contextPath}/shippingAddressCompleted" method="post">

        <!-- include form -->
        <#include "../components/addressForm.ftl.html"/>

        <hr>

   
        <!-- choose: shipping equals billing address -->
        <div class="form-group">
            <div class="col-sm-12 col-form-label pull-left font-bold">${i18n("shippingAddressEqualsBillingAddress")}?*</div>
            <div class="col-sm-4">
                <label for="billEqualShipp-Yes"> <input
                        name="billEqualShipp" id="billEqualShipp-Yes" value="Yes"
                        checked="checked" type="radio"> ${i18n("chooseYes")}
                </label> <label for="billEqualShipp-No"> <input
                        name="billEqualShipp" id="billEqualShipp-No" value="No"
                        type="radio"> ${i18n("chooseNo")}
                </label>
            </div>
        </div>

    

        <!-- continue button -->
       

  
 <div class="form-group">
            <div class="col-sm-12 nopadding">
                <div class="col-sm-3"></div>
                <div class="col-sm-12">
                    <button id="btnAddDelAddr" class="btn btn-primary pull-xs-right"
                    name="btnAddDelAddr" type="submit">${i18n('buttonContinue')}</button>
                    <div class="margin_top20">
                    <span class="reqField pull-xs-left textcolordarkgrey">* ${i18n('titleRequiredFields')}</span>
                </div>
            </div>
            </div>
        </div>
    </div> </form>
</@layout.myLayout>
