<#import "../layout/defaultLayoutWebShop.ftl.html" as layout>
<@layout.myLayout "The ultimate webshop">
<script type="text/javascript">
	var options = {
		currentPage: ${currentPage},
	          totalPages: ${totalPages},
	          numberOfPages: ${totalPages},
	          bootstrapMajorVersion: 3,
		alignment:'center',
		onPageClicked: function(e, originalEvent, type, page) {
			var pathname = $(location).attr('pathname');
			var pageType = pathname.substring(CONTEXT_PATH.length + 1, pathname.indexOf('/', CONTEXT_PATH.length + 1));
			// top category
			if(pageType == "topCategory") {
				$.post('${contextPath}/getProductOfTopCategory', {categoryId: ${(category.id)!1}, page: page}, updateProductOverview);
			}
			// sub category
			else if(pageType == "category"){
				$.post('${contextPath}/getProductOfSubCategory', {categoryId: ${(category.id)!1}, page: page}, updateProductOverview);
			}
			 // search
			else {
				$.post('${contextPath}/getProductOfSearch', {searchText: $('#s').val(), page: page}, updateProductOverview);
			}
		}
	      };
</script>

<div class="row">
	<div class="col-sm-12 text-center">
		<div class="header-container">
			<#if category??>
			<div id="titleCategoryName" class="h2">${category.name} (<span id="totalProductCount">${totalProductCount}</span>  <#if totalProductCount == 1 >${i18n("searchProductPoster")}<#else>${i18n("searchProductPosters")}</#if>)</div>
			</#if> <#if searchText??>
			<div id="titleSearchText" class="h2">${i18n("searchProductMatch")} '<span id="searchTextValue">${searchText}</span>' (<span id="totalProductCount">${totalProductCount}</span> <#if totalProductCount == 1 >${i18n("searchProductPoster")}<#else>${i18n("searchProductPosters")}</#if>)</div>
			</#if> <#if noResults??>
			<div id="titleNoResults" class="h2">${noResults}</div>
			</#if>
		</div>
	</div>



	<!-- products -->
	<div id="productOverview" class="col-sm-12">
			<#list products as pro> <#if (pro_index + 6) % 6 == 0>
		
				<ul class="thumbnails list-unstyled row">
					</#if>
									
						<li class="margin_bot30 col-sm-12 col-md-6 col-lg-4 text-center card pOverviewCard border-white h-100 w-100">
						<div id="product${pro_index}" class="text-center">
							<div class="container-fluid">
								<a href="${contextPath}/productDetail/${pro.name?url('UTF-8')}?productId=${pro.id}">
									<img data-src="${contextPath}/assets/js/holder.js/300x200"
									alt="${pro.name}" title="${pro.name}"
									src="${contextPath}${pro.imageURL}" class="img-fluid pImage img-rounded card-header">
									<div class="pInfo card-body w-100 h-100">
										<h4 class="pName text-primary pName">${pro.name}</h4>
										<div class="text-muted">
											<p class="pOverviewDescription">
												<span class="pDescriptionOverview">${pro.descriptionOverview}</span>
												<br>
												
												</p>											
												
												<button class="btn btn-primary">${i18n("priceStart")} ${currency}<span class="font-bold pPrice">${pro.getPriceAsString()}</span>
												</button>
											
											</div>
									</div>
								</a>
							</div>
						</div>
					
					</li>
				
					<#if (pro_index + 1) % 6 == 0>
				</ul>
			
			</#if> <#if !pro_has_next && (pro_index + 1) % 6 != 0>
			</ul>
		</div>
		</#if> </#list>
	
		</div>

	<#if totalPages gt 1 >
	<!-- paging, only if more than one result page -->
		<!-- paging -->
		<div class="col-sm-12 h4 text-center">
			<div class="pagination">
				<ul id="pagination-bottom"></ul>
			</div>
		</div>
	</div>
	<script type="text/javascript">	
			$('#pagination-bottom').bootstrapPaginator(options);
		</script>
	</#if>
	</@layout.myLayout>
	